<select id="{{statementName}}" resultMap="{{resultMap}}">
    SELECT
        ${selectFragment}
    FROM
        ${fromFragment}
    <if test="qc.distinct">
        join (
            SELECT
            DISTINCT
            <choose>
                <when test="qc.alias != null and qc.alias != ''">
                    ${qc.alias}.*
                </when>
                <otherwise>*</otherwise>
            </choose>
            FROM ${fromFragment}
            <if test="whereFragment neq null and whereFragment neq ''">
                WHERE ${whereFragment}
            </if>
            <if test="groupByFragment neq null and groupByFragment neq ''">
                ${groupByFragment}
            </if>
            <if test="orderByFragment neq null and orderByFragment neq ''">
                ${orderByFragment}
            </if>
            ${paginationDialectSql}
        )root on root.{{keyColumn}} =
        <choose>
            <when test="qc.alias != null and qc.alias != ''">
                ${qc.alias}.{{keyColumn}}
            </when>
            <otherwise>{{keyColumn}}</otherwise>
        </choose>
    </if>
    <if test="groupByFragment neq null and groupByFragment neq ''">
        ${groupByFragment}
    </if>
    <if test="orderByFragment neq null and orderByFragment neq ''">
        ${orderByFragment}
    </if>
    <if test="!qc.distinct">
        ${paginationDialectSql}
    </if>
</select>